<div class="overlay"></div>
<div class="wenmodal">
    <div class="row height-forms">
        <div class="col-lg-4">
            <label>
                Title:
                {{view Ember.TextField class="edit_box" value=title}}
            </label>
        </div>
        <div class="col-lg-8">
            <label>
                Web URL:
                {{view Ember.TextField class="edit_box" value=url}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-12">
            <label>
                Description:
                {{view Ember.TextArea class="edit_box" rows="5" cols="60" value=description}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-4">
            <label>
                From:
                {{view App.DatePicker dateBinding="fromTime"}}
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                To:
                {{view App.DatePicker dateBinding="toTime"}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-12">
            <label>
                Location:
                {{view Ember.TextField class="edit_box" value=location}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-12">
            Category:
            {{view Ember.Select class="btn btn-default dropdown-toggle" prompt="Select Type" content=types value=type}}
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-sm" {{action "addOrEdit" }}>
                {{#if id}}
                    Edit
                {{else}}
                    Add
                {{/if}}
            </button>
            <button class="btn btn-primary btn-sm" {{action "closeModal" }}>
                Cancel
            </button>
        </div>
    </div>

</div>
