<h2>My Activities</h2>

<div>
    <button type="button" class="btn btn-primary" {{action 'openAddModal' 'activity/edit' }}>Add New Activity</button>
</div>

<div class="btn-group">
    <button type="button" class="btn btn-info" {{action 'loadUpcoming' }}>Upcoming</button>
    <button type="button" class="btn btn-info" {{action 'loadPast' }}>Past</button>
    <button type="button" class="btn btn-info" {{action 'loadDeleted' }}>Deleted</button>
</div>

<!-- Table -->
<table class="table">
    <thead>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>From</th>
    <th>To</th>
    <th>Location</th>
    </thead>
    <tbody>
        {{#each}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{fromTime}}</td>
            <td>{{toTime}}</td>
            <td>{{location}}</td>
            <td>
                <a href="#" {{action "openEditModal" "activity/edit" id }}>Edit</a>&nbsp;|&nbsp;
                <a href="#" {{action "openDeleteDialog" id target="view" bubbles=false }}>Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

Total Price: {{totalPrice}}

<div id="dialog-confirm-delete" title="Delete an activity?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This activity will be deleted. Are you sure?</p>
</div>

