<div class="overlay"></div>
<div class="wenmodal">
    <div class="row row-xs-height">
        <div class="col-xs-12 col-md-4">
            <label>
                Title:
                {{input class="edit_box" value=title}}
            </label>
        </div>
        <div class="col-xs-12 col-md-8">
            <label>
                Web URL:
                {{input class="edit_box" value=url}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12 col-md-12">
            <label>
                Description:
                {{textarea class="edit_box" rows="5" cols="60" value=description}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12 col-md-4">
            <label>
                From:
                {{view "datePicker" dateBinding="fromTime"}}
            </label>
        </div>
        <div class="col-xs-12 col-md-4">
            <label>
                To:
                {{view "datePicker" dateBinding="toTime"}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12 col-md-12">
            Location:
            <label>
                Address:
                {{input class="edit_box" value=address}}
            </label>
            <label>
                City:
                {{input class="edit_box" value=city}}
            </label>
            <label>
                State:
                {{input class="edit_box" value=state}}
            </label>
            <label>
                Zip Code:
                {{input class="edit_box" value=zipCode}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12 col-md-12">
            Category:
            {{view "select" class="btn btn-default dropdown-toggle" prompt="Select Type" content=types value=type}}
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12 col-md-12">
            <button class="btn btn-primary btn-sm" {{action "addOrEdit" }}>
                {{#if id}}
                Edit
                {{else}}
                Add
                {{/if}}
            </button>
            <button class="btn btn-primary btn-sm" {{action "closeModal" }}>
                Cancel
            </button>
        </div>
    </div>

</div>
