<h2>Search for events that you are looking for</h2>

<div class="row row-xs-height">
    <div class="col-xs-12 col-md-4">
        <label>
            Search for:
            {{input class="form-control" placeholder="e.g Dancing Babies" value=queryText}}
        </label>
    </div>
    <div class="col-xs-12 col-md-4">
        <label>
            Time:
            {{view "select" class="btn btn-default dropdown-toggle" valueBinding=period content=periods placeholder="Time"}}
        </label>
        From
    </div>
    <div class="col-xs-12 col-md-4">
        <label>
            Within the distance of
            {{view "select" class="btn btn-default dropdown-toggle" valueBinding=distance content=distances placeholder="Distance"}}
        </label>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12 col-md-4">
        <div class="input-group">
            <button type="button" class="btn btn-primary" {{action "search" }}>Search</button>
        </div>
    </div>
</div>