<div class="overlay"></div>
<div class="wenmodal">
    <div class="row">
        <div class="col-lg-12">
            <label>
                You are First Name {{model.firstName}}:
                {{view Ember.TextField class="edit_box" value=firstName}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label>
                Last Name:
                {{view Ember.TextField class="edit_box" value=lastName}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label>
                Nickname:
                {{view Ember.TextField class="edit_box" value=nickName}}
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="control-group">
                <div class="controls">
                    <p>
                        <div id="gendertype" name="gender" class="btn-group rdgender" data-toggle="buttons-radio">

                            {{#view App.RadioButtonView name="selectionTest" label="Male" class="btn btn-info" selectionBinding="controller.gender" value="Male"}}Male{{/view}}

                            {{#view App.RadioButtonView name="selectionTest" label="Female" class="btn btn-info" selectionBinding="controller.gender" value="Female"}}Female{{/view}}

                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            Birthday:
            {{view Ember.Select class="btn btn-default dropdown-toggle" content=months prompt="Month" value=selectedMonth}} /
            {{view Ember.Select class="btn btn-default dropdown-toggle" content=days prompt="Day" value=selectedDay}} /
            {{view Ember.Select class="btn btn-default dropdown-toggle" content=years prompt="Year" value=selectedYear}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{pronoun}} can speak: {{view Ember.Select class="btn btn-default dropdown-toggle" content=languages prompt="Language" value=selectedLanguage}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{view Ember.Select class="btn btn-default dropdown-toggle" content=relationships optionValuePath="content.id" optionLabelPath="content.text" prompt="Relationship" value=selectedRelation}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-sm" {{action "edit" }}>
                Add
            </button>
            <button class="btn btn-primary btn-sm" {{action "close" }}>
                Cancel
            </button>
        </div>
    </div>

</div>
