<h2>Add New Kid</h2>
<div class="row">
    <div class="col-lg-12">
        <button type='button' id='modalnew' class='btn btn-primary' {{action 'showmodal' }}>Add</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <label>
            First Name:
            {{view Ember.TextField class="edit_box" valueBinding="firstName"}}
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <label>
            Last Name:
            {{view Ember.TextField class="edit_box" valueBinding="lastName"}}
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <label>
            Nickname:
            {{view Ember.TextField class="edit_box" valueBinding="nickname"}}
        </label>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        Birthday: {{view Ember.TextField class="edit_box" valueBinding="month"}} / {{view Ember.TextField class="edit_box" valueBinding="day"}} / {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="year" content=years}}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="control-group">
            <label class="control-label">Gender</label>
            <div class="controls">
                <p>
                    <div id="gendertype" name="gender" class="btn-group rdgender" data-toggle="buttons-radio">

                        {{#view App.RadioButtonView name="selectionTest" label="Male" class="btn btn-info" selectionBinding="controller.currentContact.gender" value="Male"}}Male{{/view}}

                        {{#view App.RadioButtonView name="selectionTest" label="Female" class="btn btn-info" selectionBinding="controller.currentContact.gender" value="Female"}}Female{{/view}}

                    </div>
                </p>
            </div>
        </div>          
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        Language: {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="language" content=languages placeholder="Language"}}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="input-group">
            <button type="button" class="btn btn-default btn-lg" {{action "addkid" }}>Add New Kid</button>
        </div>
    </div>
</div>
<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add Contact</h3>
    </div>
    {{partial "contactForm"}}
    <div class="modal-footer">
        <button type="submit" id="fat-btn" data-loading-text="creating..." class="btn btn-success btn-primary" {{action 'savecontact' }}> Create New Contact </button>
        <button type="reset" id="btn-create-canc" data-loading-text="canceling..." class="btn btn-success btn-primary"> Cancel </button>
    </div>
</div>