<h2>Connect other parents!</h2>

<div class="row height-forms">
    <div class="col-lg-12">
        I am looking for families which have kids:
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        Age from 
        {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="fromAge" selectionBinding="fromAge" content=ages placeholder="Age"}} to 
        {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="toAge" selectionBinding="toAge" content=ages}} years old.
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        He or she can speak 
        {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="languages" content=allLanguages placeholder="Language" multiple=true}}
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        Within the distance of {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="distance" content=distances placeholder="Distance"}}
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        <div class="input-group">
            <button type="button" class="btn btn-primary btn-sm" {{action "searchfamilies" }}>Search</button>
        </div>
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        You are searching families which have kids from age {{toAge}} to {{fromAge}} in your neighborhood.
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        {{family-list families=model}}
    </div>
</div>

