<div class="row row-xs-height">
    <div class="col-lg-12">
        <div class="alert alert-danger" role="alert">You have encountered an error, thus you are redirected to this page.</div>
        <p>
            <strong>Route Name:</strong> {{transition.targetName}}
        </p>
        <p>
            <strong>Message:</strong> 
            {{#if error.message}} 
                {{error.message}}
            {{else}}
                {{#if error.responseJSON}}
                    {{error.responseJSON.message}}
                {{else}}
                    {{error.errorThrown.message}}
                {{/if}}
            {{/if}}
        </p>
        <p>
            <strong>Stack:</strong> 
            {{#if error.stack}}
            {{error.stack}}
            {{else}}
            {{#if error.responseJSON}}
            {{error.responseJSON.error}} at this path on server {{error.responseJSON.path}}.  Details: {{error.responseJSON.exception}}
            {{else}}
            {{error.errorThrown.stack}}
            {{/if}}
            {{/if}}
        </p>
        <p>
            
        </p>
    </div>
</div>

