{{#with model}}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">{{id}} | {{familyName}} | {{cityState}} | {{description}} | {{zipcode}}</div>
    <div class="panel-body">
        <p>
            <a href="#" {{action "editfamily" "connect/editfamily" id }}>Edit</a>&nbsp;|&nbsp;
            <a href="#" {{action "addmember" "connect.addmember" id }}>Add New Member</a>&nbsp;|&nbsp;
            <a href="#" {{action "deletefamily" id }}>Delete Family</a>
        </p>
    </div>

    <!-- Table -->
    <table class="table">
        <thead>
        <th>#</th>
        <th>Avartar</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthday</th>
        <th>Language</th>
        <th>Relationship</th>
        <th>Action</th>
        </thead>
        <tbody>
            {{#each members }}
            <tr>
                <td>{{id}}</td>
                <td><img {{bind-attr src=avatarUrl}} alt="Avatar"></td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{birthday}}</td>
                <td>{{languages}}</td>
                <td>{{type}}</td>
                <td>
                    <a href="#" {{action "editmember" "connect/editmember" id }}>Edit</a>&nbsp;|&nbsp;
                    <a href="#" {{action "deletemember" id }}>Delete</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>
{{/with}}
<div id="dialog-confirm-delete-member" title="Delete a family member?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This member will be deleted. Are you sure?</p>
</div>

<div id="dialog-confirm-delete-family" title="Delete a family?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This family will be deleted. Are you sure?</p>
</div>
