<div class="row height-forms">
    <div class="col-lg-6">
        <p>
            <h2>You can ask specific questions such as:</h2>
            <br/>
            Which child care center has the best facility in town?
            <br/>
            Who has used baby tub?
            <br/>
            I plan to buy a local museum membership, is it worth it?            
        </p>
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-6">
        <label for="lblQ">
            Type your question here:
        </label>
        {{view Ember.TextField id="lblQ" class="form-control" value=questionText}}

    </div>
</div>


<div class="row height-forms">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-sm" type="button" class="btn btn-default btn-lg" {{action "ask" }} {{bind-attr disabled=disabled}}>Ask My Neighbor</button>
    </div>
</div>

<div class="row height-forms">
    <div class="col-lg-12">
        {{#if asked}}
        <p>
            You asked: {{questionText}}
        </p>
        <p>
            We've sent out your questions to parents who lives in your neighborhood.  They will contact you via emails shortly.
        </p>
        <p>
            We'll also search the answer for you by finding the Internet.  Our search engine and knowledgebase is currently under construction.
        </p>
        {{/if}}
    </div>
</div>