<h2>Search for items that you are looking for</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search items">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group input-group-lg">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Distance <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">5 Miles</a></li>
                    <li><a href="#">10 Miles</a></li>
                    <li><a href="#">25 Miles</a></li>
                    <li><a href="#">50 Miles</a></li>
                </ul>
            </div><!-- /btn-group -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <button type="button" class="btn btn-default">Search</button>
        </div>
    </div>
</div>
