<div class="overlay"></div>
<div class="wenmodal">
    <div class="row height-forms">
        <div class="col-lg-6">
            <label>
                Name:
                {{view Ember.TextField class="form-control" placeholder="Item Name" value=name}}
            </label>
        </div>
        <div class="col-lg-6">
            <label>
                Price:
                {{view Ember.TextField class="form-control" placeholder="Price in" value=price}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-8">
            <label>
                Description:
                {{view Ember.TextArea class="form-control" placeholder="Description" rows="5" cols="60" value=description}}
            </label>
        </div>
        <div class="col-lg-4">
            <div class="control-group">
                <label class="control-label">Status</label>
                <div id="gendertype" class="btn-group" data-toggle="buttons-radio">

                    {{#view App.RadioButtonView name="open" selectionBinding="status" value="open"}}Open{{/view}}

                    {{#view App.RadioButtonView name="closed" selectionBinding="status" value="closed"}}Closed{{/view}}

                    {{#view App.RadioButtonView name="dealt" selectionBinding="status" value="dealt"}}Dealt{{/view}}

                </div>
            </div>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-6">
            <div class="control-group">
                <label class="control-label">Type</label>
                <div id="gendertype" class="btn-group" data-toggle="buttons-radio">

                    {{#view App.RadioButtonView name="toy" selectionBinding="type" value="toy"}}Toy{{/view}}

                    {{#view App.RadioButtonView name="cloth" selectionBinding="type" value="cloth"}}Clothes{{/view}}

                    {{#view App.RadioButtonView name="book" selectionBinding="type" value="book"}}Books{{/view}}

                    {{#view App.RadioButtonView name="furniture" selectionBinding="type" value="furniture"}}Furnitures{{/view}}

                    {{#view App.RadioButtonView name="other" selectionBinding="type" value="other"}}Other{{/view}}

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="control-group">
                <label class="control-label">Condition</label>
                <div id="gendertype" class="btn-group" data-toggle="buttons-radio">

                    {{#view App.RadioButtonView name="new" selectionBinding="condition" value="new"}}New{{/view}}

                    {{#view App.RadioButtonView name="used" selectionBinding="condition" value="used"}}Used{{/view}}

                </div>
            </div>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-4">
            <label>
                Size:
                {{view Ember.TextField class="form-control" placeholder="Size" value=size}}
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                From Age:
                {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="fromAge" content=allAges placeholder="Age"}}
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                To Age:
                {{view Ember.Select class="btn btn-default dropdown-toggle" valueBinding="toAge" content=allAges}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-lg-4">
            <label>
                Width:
                {{view Ember.TextField class="form-control" placeholder="Width" value=width}}
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                Length:
                {{view Ember.TextField class="form-control" placeholder="Length" value=length}}
            </label>
        </div>
        <div class="col-lg-4">
            <label>
                Height:
                {{view Ember.TextField class="form-control" placeholder="Height" value=height}}
            </label>
        </div>
    </div>              
    <div class="row height-forms">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-sm" type="button" class="btn btn-default btn-lg" {{action "add" }} {{bind-attr disabled=disabled}}>
                {{#if id}}
                Edit
                {{else}}
                Add
                {{/if}}
            </button>
            <button class="btn btn-primary btn-sm" {{action "close" }}>Cancel</button>
        </div>
    </div>
</div>
