<div class="overlay"></div>
<div class="wenmodal">
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <label>
                Question:
                {{view Ember.TextField class="edit_box" value=title}}
            </label>
        </div>
        <div class="col-xs-12">
            <label for="lblQDescription">
                Description
            </label>
            {{view Ember.TextArea id="lblQDescription" cols="60" rows="5"  class="form-control" value=description}}
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-lg-12">
            <label>
                Post Date: {{createdDate}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-sm" {{action "addOrEdit" }}>
                {{#if id}}
                Edit
                {{else}}
                Add
                {{/if}}
            </button>
            <button class="btn btn-primary btn-sm" {{action "closeModal" }}>
                Cancel
            </button>
        </div>
    </div>

</div>
