<div class="row row-xs-height">
    <div class="col-lg-6">
        <p>
            <h2>You can ask specific questions such as:</h2>
            <br/>
            Which child care center has the best facility in town?
            <br/>
            Who has used baby tub?
            <br/>
            I plan to buy a local museum membership, is it worth it?            
        </p>
        <p>
            Sometimes the questions can be best answered by parents who live closeby to you.  Sometimes we need to expand our scope and ask parents nation wide.
            The fact is not every question gets answered, and it's even harder to get great answeres.  We have the following tips that you can follow:
        </p>
        <p>
            <ul>
                <li>Be on topic</li>
                <li>Be specific</li>
                <li>Help others first - if you help others a lot, the karmaic consequnce is your questions will be displayed at more prominent location by our software</li>
            </ul>
        </p>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-xs-12">
        <label for="lblQ">
            Type your question here:
        </label>
        {{input id="lblQ" class="form-control" value=title}}
    </div>
    <div class="col-xs-12">
        <label for="lblQDescription">
            If you want, you can give more detail description of your question
        </label>
        {{textarea id="lblQDescription" cols="60" rows="5"  class="form-control" value=description}}
    </div>
</div>


<div class="row row-xs-height">
    <div class="col-lg-12">
        <button class="btn btn-primary btn-sm" type="button" class="btn btn-default btn-lg" {{action "ask" }} {{bind-attr disabled=disabled}}>Ask My Neighbor</button>
    </div>
</div>

<div class="row row-xs-height">
    <div class="col-lg-12">
        {{#if asked}}
        <p>
            You asked: {{title}}
        </p>
        <p>
            We've sent out your questions to parents who lives in your neighborhood.  They will contact you via emails shortly.
        </p>
        <p>
            We'll also search the answer for you by finding the Internet.  Our search engine and knowledgebase is currently under construction.
        </p>
        {{/if}}
    </div>
</div>