<div class="overlay"></div>
<div class="wenmodal">
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <label>
                Title:
                {{input class="form-control" width="80" placeholder="10 words or less" value=title size="80"}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <label>
                Description:
                {{textarea class="form-control" placeholder="Description" rows="5" cols="60" value=description}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <label>
                Url:
                {{input class="form-control" placeholder="web url if there is any" value=url size="60"}}
            </label>            
            <button class="btn btn-primary btn-sm" type="button" {{action "preview" }} >
                Preview
            </button>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <iframe id="frame" {{bind-attr src=url}}></iframe>
            <label>
                Preview Text:
                {{textarea class="form-control" readonly="true" placeholder="Description" rows="5" cols="60" value=previewText}}
            </label>            
        </div>
    </div>

    <div class="row row-xs-height">
        <div class="col-md-8">
            <div class="control-group">
                <label class="control-label">Type</label>
                <div id="gendertype" class="btn-group" data-toggle="buttons-radio">

                    {{#view "radioButton" name="toy" selectionBinding="type" }}Deal{{/view}}

                    {{#view "radioButton" name="cloth" selectionBinding="type" }}Education{{/view}}

                    {{#view "radioButton" name="book" selectionBinding="type" }}Health{{/view}}

                    {{#view "radioButton" name="furniture" selectionBinding="type" }}Entertainment{{/view}}

                    {{#view "radioButton" name="other" selectionBinding="type" }}Misc{{/view}}

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label>
                Expiration Date:
                {{view "datePicker" dateBinding="expiredDate"}}
            </label>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12">
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-sm" {{action "add" }} {{bind-attr disabled=disabled}}>
                {{#if id}}
                Edit
                {{else}}
                Add
                {{/if}}
            </button>
            <button class="btn btn-primary btn-sm" {{action "close" }}>Cancel</button>
        </div>
    </div>
</div>
