<div class="overlay"></div>
<div class="wenmodal">
    <div class="row height-forms">
        <div class="col-xs-8">
            <label>
                User Id:
                {{view Ember.TextField class="edit_box" size="50" value=id}}
            </label>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary btn-sm" {{action "importFromFacebook" }}>
                Import my profile from facebook
            </button>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-xs-12">
            <label>
                Facebook Id:
                {{view Ember.TextField class="edit_box" value=facebookId}}
            </label>
        </div>
        <div class="col-xs-12">
            <label>
                Email:
                {{view Ember.TextField class="edit_box" value=email}}
            </label>
        </div>
    </div>
    <div class="row height-forms">
        <div class="col-xs-12">
            <label>
                Password:
                {{view Ember.TextField class="edit_box" value=password}}
            </label>
        </div>        
    </div>
    <div class="row height-forms">
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm" {{action "save" }}>
                Save
            </button>
            <button class="btn btn-primary btn-sm" {{action "closeModal" }}>
                Cancel
            </button>
        </div>
    </div>
</div>

