<div class="overlay"></div>
<div class="wenmodal">
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <div>
                <label>
                    You've posted 10 tips:
                </label>
            </div>
            <div>
                <label>
                    You've answered 15 questions
                </label>
            </div>
            <div>
                You've create 3 events.
            </div>
        </div>
    </div>
    <div class="row row-xs-height">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-sm" {{action "closeModal" }}>
                Close
            </button>
        </div>
    </div>
</div>
