<div class="overlay"></div>
<div class="wenmodal">
    <div class="row height-forms">
        <div class="col-md-12">
            <div>
                <label>
                    User Id:
                    {{view Ember.TextField class="edit_box" value=id}}
                </label>
            </div>
            <div>
                <label>
                    Facebook Id:
                    {{view Ember.TextField class="edit_box" value=facebookId}}
                </label>
            </div>
            <div>
                <label>
                    Email:
                    {{view Ember.TextField class="edit_box" value=email}}
                </label>
            </div>
            <div>
                <label>
                    Password:
                    {{view Ember.TextField class="edit_box" value=password}}
                </label>
            </div>
        </div>


    </div>
    <div class="row height-forms">
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm" {{action "save" }}>
                Save
            </button>
            <button class="btn btn-primary btn-sm" {{action "closeModal" }}>
                Cancel
            </button>
        </div>
    </div>
</div>

